{{define "average"}}
-- Checks if a value is an average.
function sky_is_average(average)
  return (average ~= nil and average.__average__ == true)
end

-- Creates a new average object.
function sky_average_new()
  return {__average__=true, count=0, sum=0}
end

-- Inserts a value into an existing average.
function sky_average_insert(average, value)
  average.count = average.count + 1
  average.sum   = average.sum + value
end

-- Merges one average into another.
function sky_average_merge(a, b)
  -- takes two averages
  if a == nil then
    a = b
  elseif b ~= nil then
    a.count = a.count + b.count
    a.sum = a.sum + b.sum
  end
  a.avg = a.sum / a.count
  return a
end

{{end}}
