{{define "cursor"}}
ffi.cdef([[
typedef struct sky_cursor_t {
  sky_event_t *event;
  sky_event_t *next_event;
  uint32_t max_timestamp;
  uint32_t session_idle_in_sec;
  bool eos_wait;
  void *key_prefix;
  uint32_t key_prefix_sz;
  MDB_cursor* lmdb_cursor;
} sky_cursor_t;

// bool sky_cursor_first_object(sky_cursor_t *);
// bool sky_cursor_next_object(sky_cursor_t *);
// bool sky_cursor_next_event(sky_cursor_t *);
// bool sky_cursor_next_session(sky_cursor_t *);
]])

local function sky_cursor_init(cursor)
end

local function sky_cursor_next_object(cursor)
end

local function sky_cursor_next_session(cursor)
end

local function sky_cursor_next_event(cursor)
end

ffi.metatype('sky_cursor_t', {
  __index = {
    first_object = sky_cursor_init,
    next_object  = sky_cursor_next_object,
    next_session = sky_cursor_next_session,
    next_event   = sky_cursor_next_event,
  }
})

{{end}}
