{{define "initialize"}}
-- Initializes the data structure used by all servlets. This is
-- necessary for histograms where the number and size of of bins
-- needs to be calculated.
function sky_initialize(_cursor)
  cursor = ffi.cast('sky_cursor_t*', _cursor)
  index = 0
  data = {}
  if cursor:firstObject() then
    repeat
      initialize(cursor, data)
      index = index + 1
      if index >= 1000 then break end
    until not cursor:nextObject()
  end
  sky_finalize(data)
  return data
end

{{end}}
