{{define "merge"}}
-- Loops over the results from the aggregate function and combines
-- them into a single table.
function sky_merge(results, data)
  if data ~= nil then
    merge(results, data)
  end
  return results
end

{{end}}
